{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

    <h1>About Harvard Eats</h1>
    <img src='static/founders.jpg' alt="Founders of HarvardEats" style="width:20%">

    <p>As students at Harvard University, we all understand the struggle of constantly eating HUDS food. However (depending on what socioeconomic
        class you are at Harvard), we aren't made of money. How can we balance eating out with eating HUDS every week?</p>

    <p><b>Our solution: HarvardEats</b></p>

    <p>HarvardEats allows students to track how much they spend on eating out, see how that impacts their food budget, compare their spending to other users, and schedule meals with friends (with an embedded When2Meet). HarvardEats also has fun stats that tell students their most frequented restaurants and popular restaurants across all users!
        Hopefully, we can help with overspending in Harvard Square, one student at a time.</p>

{% endblock %}
