{% extends "layout.html" %}

{% block title %}
    Log a Meal
{% endblock %}

{% block main %}

    <h1>Log a Meal</h1>

    <!-- Restaurant dropdown search -->
    <form action="/logmeal" method="post">
        <input class="form-control mx-auto w-auto" list="choices" id="restaurant" name="restaurant" placeholder="Restaurant">

        <datalist id="choices">
            <option value="Alden & Harlow">
            <option value="Ben & Jerry's">
            <option value="Berryline">
            <option value="Black Sheep Bagels">
            <option value="Blue Bottle Coffee">
            <option value="Bonchon Harvard Square">
            <option value="Bosso Ramen">
            <option value="Boston Burger Company">
            <option value="Cafe Sushi">
            <option value="Capital One Cafe">
            <option value="Daedalus Restaurant">
            <option value="Dig Inn">
            <option value="Domino's Pizza">
            <option value="Dumpling House">
            <option value="Dunkin Donuts">
            <option value="El Jefe's Taqueria">
            <option value="Falafel Corner">
            <option value="Felipe's Taqueria">
            <option value="Gong Cha">
            <option value="Grafton Street Pub & Grill">
            <option value="Grendel's Den Restaurant & Bar">
            <option value="Gyu-Kaku Japanese BBQ">
            <option value="Harvest">
            <option value="Henrietta's Table">
            <option value="Hokkaido Ramen Santouka">
            <option value="Hong Kong Restaurant">
            <option value="iHop">
            <option value="Insomnia Cookies">
            <option value="JP Licks">
            <option value="Kung Fu Tea">
            <option value="Le's Vietnamese Restaurant">
            <option value="Life Alive Organic Cafe">
            <option value="Lizzy's">
            <option value="Menya Jiro">
            <option value="Mike's Pastry">
            <option value="Milkbar">
            <option value="Mr. Bartley's Burger Cottage">
            <option value="Nine Tastes">
            <option value="Orinoco Harvard Square">
            <option value="OTTO">
            <option value="Pavement Coffeehouse">
            <option value="Peet's Coffee">
            <option value="Pinnochio's">
            <option value="Poke City">
            <option value="Pokéworks">
            <option value="Russell House">
            <option value="Sakana Sushi">
            <option value="Saloniki Greek">
            <option value="Shake Shack">
            <option value="Source">
            <option value="Starbucks">
            <option value="Sweetgreen">
            <option value="Tasty Burger">
            <option value="Tatte">
            <option value="The Hourly Oyster House">
            <option value="The Longfellow Bar">
            <option value="The Maharaja ">
            <option value="The Red House Restaurant">
            <option value="Tiger Sugar">
            <option value="Toscano">
            <option value="Veggie Grill">
            <option value="Waypoint">
            <option value="Wusong Road">
            <option value="Yume Ga Arukara">
            <option value="Yume Wo Katare">
            <option value="Zinnekens">
            <option value="Zoe's">
        </datalist>

        <p></p>

        <!-- Cost of meal -->
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="cost" name="cost" placeholder="Cost of Meal" type="number", step=".01">
        </div>

        <!-- Log -->
        <button class="btn btn-primary" id="btn-space" type="submit">Log</button>
    </form>

{% endblock %}