{% extends "layout.html" %}

{% block title %}
    Past Meals
{% endblock %}

{% block main %}

    <h1>Past Meals</h1>

    <!--Table Inspiration from https://learn.shayhowe.com/html-css/organizing-data-with-tables/-->
    <table>
        <thead>
            <tr>
                <th scope = "col">Restaurant</th>
                <th scope = "col">Cost</th>
                <th scope = "col">Date & Time</th>
            </tr>
        </thead>
        <tbody>
            {% for meal in  meals %}
            <tr>
                <td> {{ meal.restaurant }} </td>
                <td> {{ meal.cost | usd }} </td>
                <td>{{ meal.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
