{% extends "layout.html" %}

{% block title %}
    Logged
{% endblock %}

{% block main %}

    <!-- Confirmation and balance update -->
    <form action="/logmeal" method="post">
        <p> You ate at {{ restaurant }} for {{ cost | usd }}. Your account balance is {{ cash | usd }}. </p>
    </form>
    {% if cash == 0 %}
        <p> You have no more money left in your account. Either <a href="/add">add money</a> or consider eating at <a href="https://dining.harvard.edu/campus-dining/undergraduate-dining/weeks-menu">HUDS</a> for the rest of the month.</p>
    {% endif %}
    {% if cash < 0 %}
        <p> You overspent by {{ - cash | usd }}. Either <a href="/add">add money</a> or consider eating at <a href="https://dining.harvard.edu/campus-dining/undergraduate-dining/weeks-menu" target="_blank">HUDS</a> for the rest of the month.</p>
    {% endif %}

{% endblock %}